<h1>Topic</h1>

<%= @topic.title %>

<div class="input-field">
  <textarea class="materialize-textarea" id="comment" name="comment" cols="30" rows="10"></textarea>
</div>

<button class="btn">Add comment</button>
<ul id="comments" class="collection">
</ul>
 <script>
   document.addEventListener('DOMContentLoaded', () => {
     window.createSocket(<%= @topic.id %>);
   });
 </script>
